:root {
  --primary-color: #6396ee; /* Blue */
  --secondary-color: #90b8d6; /* Green */
  --background-color: #fefae0; /* Light Gray */
  --text-color: #333333; /* Dark Text */
}

body {
  max-width: 1280px;
}
